
<div class="container py-5">
  <div class="py-5">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-6 mx-auto">

        <div data-controller="video-player"
             data-video-player-url-value="<%= @url %>"
        >
          <div data-video-player-target="player"></div>
        </div>

      </div>
    </div>
  </div>
</div>
